## [ 웹 교재 내용 따라적기 ]

### 비디오 게임 <hr>

In [148]:
## 모듈
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib

In [149]:
## 파일 읽어오기 -> O
vgDF = pd.read_csv('./DATA/vgsales.csv',index_col='Rank')
vgDF.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [150]:
## 원본 프레임을 'Global_Sales' 컬럼을 기준으로 내림차순 정렬하세요.
vgDF2 = vgDF.copy()

# ## 이건 틀림 -> 왜냐하면 series로 만들고 정렬하는거니깐 데이터프레임이 아님
# vgDF2['Global_Sales'].sort_values()

## 이게 정답 !
vgDF2 = vgDF2.sort_values(by='Global_Sales', ascending=False)
vgDF2.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [151]:
## 원본 데이터프레임을 'Platform'과 'Global_Sales'를 기준으로 정렬하세요.  -> O
# 'Platform'은 오름차순으로 정렬하고 'Global_Sales'는 내림차순으로 정렬하세요.
vgDF3 = vgDF.copy()

vgDF3.sort_values(by=['Platform','Global_Sales'], ascending=[True, False])

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
90,Pac-Man,2600,1982.0,Puzzle,Atari,7.28,0.45,0.0,0.08,7.81
240,Pitfall!,2600,1981.0,Platform,Activision,4.21,0.24,0.0,0.05,4.50
259,Asteroids,2600,1980.0,Shooter,Atari,4.00,0.26,0.0,0.05,4.31
545,Missile Command,2600,1980.0,Shooter,Atari,2.56,0.17,0.0,0.03,2.76
608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.0,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...
16533,Sébastien Loeb Rally Evo,XOne,2016.0,Racing,Milestone S.r.l,0.00,0.01,0.0,0.00,0.01
16534,Hitman (2016),XOne,2016.0,Action,Square Enix,0.00,0.01,0.0,0.00,0.01
16565,Mighty No. 9,XOne,2016.0,Platform,Deep Silver,0.01,0.00,0.0,0.00,0.01
16572,Resident Evil 4 HD,XOne,2016.0,Shooter,Capcom,0.01,0.00,0.0,0.00,0.01
16579,Rugby Challenge 3,XOne,2016.0,Sports,Alternative Software,0.00,0.01,0.0,0.00,0.01

In [152]:
## 원본 데이터 프레임에서 Year 컬럼의 값이 NaN인 로우를 제거하고 이를 원본에 반영하세요. -> X
vgDF4 = vgDF.copy()

# ## 계속 시리즈로 뽑아내서 하는데, 데이터 프레임에 해야됨. 정신차려
# vgDF4.Year.dropna(inplace=True)

## 정답
vgDF4.dropna(subset='Year', inplace=True)
display(vgDF4)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [153]:
## 데이터프레임에서 'Year' 컬럼의 타입을 int로 변경하세요. -> O
vgDF4.Year = vgDF4.Year.astype('int')
display(vgDF4)
vgDF4.info()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

<class 'pandas.core.frame.DataFrame'>
Index: 16327 entries, 1 to 16600
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16327 non-null  object
 1   Platform      16327 non-null  object
 2   Year          16327 non-null  int64
 3   Genre         16327 non-null  object
 4   Publisher     16291 non-null  object
 5   NA_Sales      16327 non-null  float64
 6   EU_Sales      16327 non-null  float64
 7   JP_Sales      16327 non-null  float64
 8   Other_Sales   16327 non-null  float64
 9   Global_Sales  16327 non-null  float64
dtypes: float64(5), int64(1), object(4)
memory usage: 1.4+ MB

In [154]:
## 데이터프레임에서 Genre 컬럼의 각 장르별 개수를 출력하세요. -> X
# print(vgDF4.Genre.nunique())  -> 이거 아님

## 정답
vgDF4.Genre.value_counts()

Genre
Action          3253
Sports          2304
Misc            1710
Role-Playing    1471
Shooter         1282
Adventure       1276
Racing          1226
Platform         876
Simulation       851
Fighting         836
Strategy         671
Puzzle           571
Name: count, dtype: int64

In [155]:
## 데이터프레임에서 value_counts 메서드를 사용해서 Genre 컬럼의 각 장르별 백분율을 계산하세요.
vgDF4.Genre.value_counts(normalize=True) * 100

Genre
Action          19.924052
Sports          14.111594
Misc            10.473449
Role-Playing     9.009616
Shooter          7.852024
Adventure        7.815275
Racing           7.509034
Platform         5.365346
Simulation       5.212225
Fighting         5.120353
Strategy         4.109757
Puzzle           3.497274
Name: proportion, dtype: float64

In [156]:
## 데이터프레임에서 게임 이름(Name)에 'Super Mario'가 포함된 게임들만 선택하세요.
mario = vgDF4.Name.str.contains('Super Mario') 
vgDF4 = vgDF4[mario]
vgDF4.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
7,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
9,New Super Mario Bros. Wii,Wii,2009,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
19,Super Mario World,SNES,1990,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
22,Super Mario Land,GB,1989,Platform,Nintendo,10.83,2.71,4.18,0.42,18.14

In [157]:
## 데이터프레임의 groupby 메서드를 사용하여 플랫폼과 장르별 Global_Sales의 합을 계산하세요.
vgDF4[['Platform','Genre','Global_Sales']].groupby(by=['Platform','Genre']).sum(numeric_only=True)

                       Global_Sales
Platform Genre
3DS      Platform             20.61
         Puzzle                0.46
DS       Platform             40.43
GB       Adventure            11.18
         Platform             28.40
GBA      Platform             20.91
GC       Platform              6.31
         Sports                1.61
N64      Platform             11.89
NES      Platform             67.63
SNES     Platform             35.28
         Racing                8.76
         Role-Playing          2.14
Wii      Platform             50.43
WiiU     Platform             12.62

In [158]:
## 판다스 melt 함수를 사용하여 다음과 같은 데이터프레임을 생성하세요.
pd.melt(
    vgDF, 
    id_vars=['Name', 'Platform', 'Genre'],                              ## id_vars      : 그대로 들고 가는 것
    value_vars=['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'],     ## value_vars   : 세로로 길게 펼칠 컬럼들
    var_name='Region',                                                  ## var_name     : 열을 세로로하면 해당 열을 어떻게 부를지 
    value_name='Sales'                                                  ## value_name   : 해당 셀에 들어있었던 수치값 이름
)

,Name,Platform,Genre,Region,Sales
0,Wii Sports,Wii,Sports,NA_Sales,41.49
1,Super Mario Bros.,NES,Platform,NA_Sales,29.08
2,Mario Kart Wii,Wii,Racing,NA_Sales,15.85
3,Wii Sports Resort,Wii,Sports,NA_Sales,15.75
4,Pokemon Red/Pokemon Blue,GB,Role-Playing,NA_Sales,11.27
...,...,...,...,...,...
66387,Woody Woodpecker in Crazy Castle 5,GBA,Platform,Other_Sales,0.00
66388,Men in Black II: Alien Escape,GC,Shooter,Other_Sales,0.00
66389,SCORE International Baja 1000: The Official Game,PS2,Racing,Other_Sales,0.00
66390,Know How 2,DS,Puzzle,Other_Sales,0.00
66391,Spirits & Spells,GBA,Platform,Other_Sales,0.00

### 부동산 <hr>

In [159]:
df_m = pd.read_excel('./DATA/매매_41133_202101.xlsx', index_col=0)
df_m.head()

,거래금액,거래유형,건축년도,년,법정동,아파트,월,일,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부
0,"68,000",NaN,2006,2021,성남동,금호어울림,1,2,59.93,NaN,3126,41133,9,NaN,NaN
1,"29,500",NaN,2004,2021,성남동,SR하이원,1,2,45.31,NaN,3755,41133,5,NaN,NaN
2,"49,000",NaN,2006,2021,성남동,동부브리앙뜨,1,3,80.49,NaN,2163,41133,3,NaN,NaN
3,"40,800",NaN,1992,2021,성남동,현대,1,7,42.62,NaN,3121,41133,10,NaN,NaN
4,"53,000",NaN,2004,2021,성남동,띠아모,1,7,116.56,NaN,3753,41133,9,NaN,NaN

In [160]:
## 거래금액 컬럼에는 문자열(object) 타입으로 데이터가 저장돼 있습니다. -> O
# 콤마를 제거하고 데이터 타입을 숫자로 변경하세요.
df_m.거래금액 = df_m.거래금액.str.replace(',','').astype('int')
df_m.info()
df_m.head()

<class 'pandas.core.frame.DataFrame'>
Index: 124 entries, 0 to 123
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   거래금액     124 non-null    int64
 1   거래유형     0 non-null      float64
 2   건축년도     124 non-null    int64
 3   년        124 non-null    int64
 4   법정동      124 non-null    object
 5   아파트      124 non-null    object
 6   월        124 non-null    int64
 7   일        124 non-null    int64
 8   전용면적     124 non-null    float64
 9   중개사소재지   0 non-null      float64
 10  지번       124 non-null    object
 11  지역코드     124 non-null    int64
 12  층        124 non-null    int64
 13  해제사유발생일  3 non-null      object
 14  해제여부     3 non-null      object
dtypes: float64(3), int64(7), object(5)
memory usage: 15.5+ KB

,거래금액,거래유형,건축년도,년,법정동,아파트,월,일,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부
0,68000,NaN,2006,2021,성남동,금호어울림,1,2,59.93,NaN,3126,41133,9,NaN,NaN
1,29500,NaN,2004,2021,성남동,SR하이원,1,2,45.31,NaN,3755,41133,5,NaN,NaN
2,49000,NaN,2006,2021,성남동,동부브리앙뜨,1,3,80.49,NaN,2163,41133,3,NaN,NaN
3,40800,NaN,1992,2021,성남동,현대,1,7,42.62,NaN,3121,41133,10,NaN,NaN
4,53000,NaN,2004,2021,성남동,띠아모,1,7,116.56,NaN,3753,41133,9,NaN,NaN

In [161]:
## 다양한 크기의 아파트 가격을 비교하기위해 매매평단가를 계산합니다. 
#  일반적으로 평단가는 거래금액과 공급면적으로 계산하지만, 
#  이번문제에서는 주어진 데이터 거래금액과 전용면적으로 매매평단가를 계산해 봅시다.
#  m^2 를 평으로 환산할 때는 3.3으로 값을 나눕니다.
df_m['매매평단가'] = df_m['거래금액'] / (df_m['전용면적'] / 3.3) 
df_m.head()

,거래금액,거래유형,건축년도,년,법정동,아파트,월,일,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부,매매평단가
0,68000,NaN,2006,2021,성남동,금호어울림,1,2,59.93,NaN,3126,41133,9,NaN,NaN,3744.368430
1,29500,NaN,2004,2021,성남동,SR하이원,1,2,45.31,NaN,3755,41133,5,NaN,NaN,2148.532333
2,49000,NaN,2006,2021,성남동,동부브리앙뜨,1,3,80.49,NaN,2163,41133,3,NaN,NaN,2008.945211
3,40800,NaN,1992,2021,성남동,현대,1,7,42.62,NaN,3121,41133,10,NaN,NaN,3159.080244
4,53000,NaN,2004,2021,성남동,띠아모,1,7,116.56,NaN,3753,41133,9,NaN,NaN,1500.514756

In [162]:
## 주어진 성남시 데이터에는 총 8개의 법정동이 존재합니다. 동별로 매매평단가의 평균을 계산하세요.
df1 = df_m[['법정동','매매평단가']].groupby(by=['법정동'], observed=True).mean(numeric_only=True)
df1

            매매평단가
법정동
금광동   3240.974040
도촌동   3231.935513
상대원동  2789.911981
성남동   2387.478986
여수동   4445.978156
은행동   3268.274510
중앙동   4094.691326
하대원동  2592.894990

In [ ]:
# 하대원동의 아파트별 매매평단가를 출력하세요.
dfk = df_m[df_m['법정동'] == '하대원동']
dfk = dfk.sort_values('아파트')
dfk = dfk.loc[:, ['아파트', '매매평단가']]
display(dfk)

apt_col = dfk.아파트.unique()
ret = []

for aptName in apt_col:
    ret.append((dfk['아파트'] == aptName).sum())

        아파트        매매평단가
95       삼남  1814.562002
110      삼남  2031.889290
108      삼남  2030.401737
101      삼남  1992.753623
102      삼남  2051.744886
107      삼남  2059.178744
104      삼남  2209.554832
112    성남자이  3812.135356
98     성남자이  3564.594099
99     성남자이  2834.451112
105    성남자이  2373.814499
106    성남자이  2373.814499
100    성원초원  2206.619860
94      아튼빌  3007.417874
97      아튼빌  3117.896223
96      아튼빌  3021.181454
111     아튼빌  3470.205308
103     아튼빌  3106.247794
109  태연스카이빌  2186.541613

7
5
1
5
1

In [173]:
# 하대원동의 아파트별 매매평단가와 매매건수를 출력하세요.
df_m['매매건수'] = dfk

dfk = df_m[df_m['법정동'] == '하대원동']
dfk['아파트','매매평단가','매매건수'].groupby(by=['아파트'], observed=True).agg('mean')

KeyError: ('아파트', '매매평단가', '매매건수')