### [ 데이터 시각화 ]
- 데이터셋 : iris.csv
- 해결문제 : 품종별 시각화에 적합한 특성/속성/컬럼/선정
- 출력결과 : 선정된 특성을 기반으로 품종 분류한 것 시각화

[1] 모듈 로딩 및 데이터 준비 <hr>

In [9]:
import pandas as pd                 ## 데이터 분석용
import matplotlib.pyplot as plt     ## 데이터 시각화용
import koreanize_matplotlib

In [10]:
## csv는 첫번째줄이 컬럼명이고 / 구분자가 ','임 <- 이걸 확인하는게 첫번째
irisDF = pd.read_csv('../DATA/iris.csv')
irisDF.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

[2] 데이터 확인 <hr>

In [11]:
## ------------------------------------------------------------
## [2-1] 기본 데이터 확인 : head(), info(), describe()
## -> 컬럼별 결측치 여부
## -> 컬럼별 실제데이터와 요약정보 데이터 타입 일치여부
## -> 컬럼별 데이터 분포 : 수치형/범주형
## ------------------------------------------------------------
## - 실제 데이터 일부 ㅜㄹ력
display(irisDF.head(3))

## - DF 요약 정보 출력
irisDF.info()

## - 컬럼별 통계치/분포 확인 출력
display(irisDF.describe())

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [13]:
## ------------------------------------------------------------
## [2-1] 기본 데이터 확인 : head(), info(), describe()
## -> 컬럼별 결측치 여부
## -> 컬럼별 실제데이터와 요약정보 데이터 타입 일치여부
## -> 컬럼별 데이터 분포 : 수치형/범주형
## ------------------------------------------------------------
## - 실제 데이터 일부 출력
display(irisDF.head(3))

## - DF 요약 정보 출력
irisDF.info()

## - 컬럼별 통계치/분포 확인 출력
display(irisDF.describe(include='all'))

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

        sepal.length  sepal.width  petal.length  petal.width variety
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  Setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [ ]:
## ------------------------------------------------------------
## [2-2] 컬럼별 세부 체크 : isna()-> 드러나는 결측치 X
##       -> 각 컬럼별 고유값 검사 진행. 이상한 값이 있는지 체크 
##       -> unique() : 고유값 종류 / Series에만 제공 메서드
##       -> nunique() : 고유값 갯수 / Series에만 제공 메서드
##       -> value_counts() : 값/고유값 별로 데이터 수
## ------------------------------------------------------------
## -> DF의 컬럼명 추출 : DF.columns

for col in irisDF.columns:
    # with open('./iris_unique.txt', mode='a', encoding='utf-8') as F:
    with open(f'./{col}iris_unique.txt', mode='w', encoding='utf-8') as F:      ## 이렇게하면 이름이 업데이트 되니깐 컬럼별로 만들어짐

        print(f'[{col}]--------------{irisDF[col].nunique()}개, {irisDF[col].dtype}', file=F)
        print(f'-> 고유값 : {irisDF[col].unique() } ', file=F)
        print(f'-> 고유값별 데이터수\n{irisDF[col].value_counts() } ', file=F)