#### [ Pandas 자료형 변환 ]
- 자료형 : object(str, mixed), int64, float64, bool, datetime64[ns], categorical
- 변환
    * DF.astype(), SR.astype()
    * to_numeric()
    * to_datetime()

[0] 모듈 로딩 및 데이터 준비 <hr>

In [10]:
## 모듈 로딩
import pandas as pd

In [11]:
## DF 인스턴스 생성
df = pd.DataFrame({
        "age"    : ['23','45','30'],                                    ## 문자열 숫자
        "height" : [170.5, 180.2, 160.3],                               ## 실수
        "passed" : [1, 0, 1],                                           ## 정수(0/1)
        "name"   : ["Ann", "Hong",'Lee'],                               ## 문자열
        "birth"  : ["2020-10-01", '2000-01-01', '2005-12-24'],          ## 문자열 날짜
        "gender" : ["F", "M", "F"]                                      ## 문자열
})

## 컬럼별 타입 정보 => dtypes
print("변환 전:\n", df.dtypes)

변환 전:
 age        object
height    float64
passed      int64
name       object
birth      object
gender     object
dtype: object

In [12]:
## ----------------------------------------------------------
## 데이터가 가진 의미에 따라 타입 변환
## ----------------------------------------------------------

## 나이 : object ==> int
df["age"] = df["age"].astype(int)       ## inplace 매개변수 X, 반드시 저장 필요 !  [원본 변경하는 메서드]

print(df.age.dtype)

int64

In [13]:
## 합격 여부 : int ==> category
df["passed"] = df["passed"].astype("category") ## inplace 매개변수 X, 반드시 저장 필요 !
print(df.passed.dtype)

category

In [ ]:
## 생일 : object ==> datetime64[ns]
# df["birth"] = df["birth"].astype("datetime64[ns]") ## inplace 매개변수 X, 반드시 저장 필요 !
df["birth"] = pd.to_datetime(df["birth"])  ## 이렇게 특정 컬럼을 주고 변경해도됨
print(df.birth.dtype)

datetime64[ns]

In [17]:
## 성별 : object ==> category
df["gender"] = df["gender"].astype("category") ## inplace 매개변수 X, 반드시 저장 필요 !
print(df.gender.dtype)

category

In [18]:
df.dtypes

age                int64
height           float64
passed          category
name              object
birth     datetime64[ns]
gender          category
dtype: object