### [ 행/열 삭제 ]
- Series/DataFrame에서 행/열 기준으로 데이터 삭제
- 메서드 : drop(labels, axis, index, columns, ..., inplace=False)
    * 행방향 삭제 => labels, axis=0 또는 index 매개변수 사용
    * 열방향 삭제 => labels, axis=1 또는 columns 매개변수 사용
    * 원본 변경 여부 => inplace 매개변수
    * 반환값 => None 또는 DataFrame/Series

[ Series의 데이터 삭제 ] <hr>

In [11]:
## 모듈 설정
import pandas as pd

In [12]:
## 임의의 데이터
data_dict = {'a':10, 'b':9, 'c':22, 'd':5, 'e':77, 'f':2}

## 시리즈 인스턴스 생성
dataSR = pd.Series(data_dict)

## 출력
print(dataSR)
print(dataSR.index)

a    10
b     9
c    22
d     5
e    77
f     2
dtype: int64
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [ ]:
## ---------------------------------
## 데이터 삭제
## ---------------------------------
## => [ Labels, axis 매개변수 ] 삭제 인덱스 설정
dataSR1 = dataSR.drop(['a','c'], axis=0)
display(dataSR1, dataSR)

## => [ Labels, axis 매개변수 ] 삭제 인덱스 설정
dataSR.drop(['a','c'], axis=0, inplace=True)  ## 원본 변경
display(dataSR1, dataSR)

b     9
d     5
e    77
f     2
dtype: int64

a    10
b     9
c    22
d     5
e    77
f     2
dtype: int64

b     9
d     5
e    77
f     2
dtype: int64

b     9
d     5
e    77
f     2
dtype: int64

In [ ]:
## => [ idex 매개변수 ] 삭제 인덱스 설정
dataSR1 = dataSR.drop(index = ['b','e'])
display(dataSR1, dataSR)

## => [ idex 매개변수 ] 삭제 인덱스 설정
dataSR.drop(index = ['b','e'], inplace=True)  ## 원본 변경
display(dataSR1, dataSR)

d    5
f    2
dtype: int64

b     9
d     5
e    77
f     2
dtype: int64

d    5
f    2
dtype: int64

d    5
f    2
dtype: int64

[ DataFrame의 행 삭제 ] <hr>

In [22]:
## 데이터
data_dict = {'번호':[1,5,9],
             '이름':['홍','마','베']}

## 데이터프레임 생성 : key => 컬럼명, Value => 세로 즉, 컬럼 데이터
dataDF = pd.DataFrame(data_dict)

## 출력
display(dataDF, dataDF.columns, dataDF.index)

   번호 이름
0   1  홍
1   5  마
2   9  베

Index(['번호', '이름'], dtype='object')

RangeIndex(start=0, stop=3, step=1)

In [23]:
## ---------------------------------
## 행 방향 데이터 삭제
## ---------------------------------
## => [ Labels, axis=0 매개변수 ] 
dataDF1 = dataDF.drop([1], axis=0)              ## 원본 유지
display(dataDF, dataDF1)

print('='*40)

## => [ index 매개변수 ] 
dataDF1 = dataDF.drop(index = [1])                             ## 원본 유지
display(dataDF, dataDF1)

   번호 이름
0   1  홍
1   5  마
2   9  베

   번호 이름
0   1  홍
2   9  베

========================================

   번호 이름
0   1  홍
1   5  마
2   9  베

   번호 이름
0   1  홍
2   9  베

In [24]:
## ---------------------------------
## 열 방향 데이터 삭제
## ---------------------------------
## => [ Labels, axis=1 매개변수 ] 
dataDF1 = dataDF.drop(['번호'], axis='columns')              ## 원본 유지
display(dataDF, dataDF1)

print('='*40)

## => [ index 매개변수 ] 
dataDF1 = dataDF.drop(columns = ['번호'])                             ## 원본 유지
display(dataDF, dataDF1)

   번호 이름
0   1  홍
1   5  마
2   9  베

  이름
0  홍
1  마
2  베

========================================

   번호 이름
0   1  홍
1   5  마
2   9  베

  이름
0  홍
1  마
2  베