### [ 축 이름 부분 변경 ]
- Series/DataFrame에서 행과 열 방향 축 이름 변경
- 메서드 : rename_axis(index, columns, ..., inplace=False)
    * 행방향 축 이름 변경 시 => index 매개변수 사용
    * 열방향 축 이름 변경 시 => columns 매개변수 사용
    * 원본 변경 여부 => inplace 매개변수
    * 반환값 => None 또는 DataFrame/Series

[ Series의 행 인덱스 축 이름 변경 ] <hr>

In [3]:
## 모듈 설정
import pandas as pd

In [4]:
## 임의의 데이터
data_dict = {'a':10, 'b':9, 'c':22}

## 시리즈 인스턴스 생성
dataSR = pd.Series(data_dict)

## 출력
print(dataSR)
print(dataSR.index)

a    10
b     9
c    22
dtype: int64
Index(['a', 'b', 'c'], dtype='object')

In [ ]:
## ---------------------------------
## axis 속성 즉, 축 변경
## ---------------------------------
print(f'현재 : {dataSR.axes}')

## => 축 이름 설정
dataSR1 = dataSR.rename_axis(index='알파벳')

## => 확인
print(f'변경 \ndataSR1 : {dataSR1.axes}   \ndataSR : {dataSR.axes}')
display(dataSR1)

## => 축 이름 제거
dataSR1.rename_axis(index=None, inplace=True)     # 이렇게 index를 None으로 주면 이름이 제거됨
display(dataSR1)

현재 : [Index(['a', 'b', 'c'], dtype='object')]
변경
dataSR1 : [Index(['a', 'b', 'c'], dtype='object', name='알파벳')]
dataSR : [Index(['a', 'b', 'c'], dtype='object')]

알파벳
a    10
b     9
c    22
dtype: int64

a    10
b     9
c    22
dtype: int64

[ DataFrame의 행/열 축이름 변경 ] <hr>

In [14]:
## 데이터
data_dict = {'번호':[1,5,9],
             '이름':['홍','마','베']}

## 데이터프레임 생성 : key => 컬럼명, Value => 세로 즉, 컬럼 데이터
dataDF = pd.DataFrame(data_dict)

## 출력
display(dataDF, dataDF.columns, dataDF.index)

   번호 이름
0   1  홍
1   5  마
2   9  베

Index(['번호', '이름'], dtype='object')

RangeIndex(start=0, stop=3, step=1)

In [16]:
## ---------------------------------------------
## 행 인덱스 축이름 변경
## ---------------------------------------------
print(f'현재 : {dataDF.axes[0]}')

## None => no
dataDF.rename_axis(index='no', inplace=True)
print(f'변경 : {dataDF.axes[0]}')
display(dataDF)

현재 : RangeIndex(start=0, stop=3, step=1, name='no')
변경 : RangeIndex(start=0, stop=3, step=1, name='no')

    번호 이름
no
0    1  홍
1    5  마
2    9  베

In [18]:
## ---------------------------------------------
## 열 인덱스 축이름 변경
## ---------------------------------------------
print(f'현재 : {dataDF.axes[1]}')

## None => '정보'
dataDF.rename_axis(columns='정보', inplace=True)
print(f'변경 : {dataDF.axes[1]}')
display(dataDF)

현재 : Index(['번호', '이름'], dtype='object', name='no')
변경 : Index(['번호', '이름'], dtype='object', name='정보')

정보  번호 이름
no
0    1  홍
1    5  마
2    9  베