### [ 행인덱스/열이름 부분 변경 ]
- Series/DataFrame에서 행 인덱스, 열이름 부분 변경 지원
- 속성명 변경 => 전체 변경. 일부 변경 X
- 메서드 : rename(index, columns, ..., inplace=False)
    * 행 인덱스 변경 시 => index 매개변수 사용
    * 열 이름 변경 시 => columns 매개변수 사용
    * 원본 변경 여부 => inplace 매개변수

[ Series의 행인덱스 부분 변경 ] <hr>

In [1]:
## 모듈 설정
import pandas as pd

In [2]:
## 임의의 데이터
data_dict = {'a':10, 'b':9, 'c':22}

## 시리즈 인스턴스 생성
dataSR = pd.Series(data_dict)

## 출력
print(dataSR)
print(dataSR.index)

a    10
b     9
c    22
dtype: int64
Index(['a', 'b', 'c'], dtype='object')

In [3]:
## index 속성 변셩
## Index(['a','b','c']), dtype='object') 객체
## => 변경 '하나', '둘', '셋'
dataSR.index = ['하나', '둘', '셋']

## => 확인
# dataSR    ## 하나만 확인할 때는 이렇게 해도됨. 근데 여러개 출력할거면 print 필요
print(dataSR)
print(dataSR.index)

하나    10
둘      9
셋     22
dtype: int64
Index(['하나', '둘', '셋'], dtype='object')

In [7]:
## ----------------------------------
## index 속성 변경 : 일부/부분 변경
## ----------------------------------
## ['하나', '둘', '셋'] => 변경 ['One', '둘', 'Three']
# dataSR.index = ['One', 'Three']  ## 개수 불일치 X ERROR

## => rename(index, inplace=False) 메서드
dataSR1 = dataSR.rename(index={'하나':'One', '셋':'Three'})  ## inplace가 default로 False라서 원본은 바뀌지 않음
display(dataSR, dataSR1)


## => rename(index, inplace=True) 메서드
dataSR11 = dataSR1.rename(index={'둘':'222'}, inplace=True)  
display(dataSR1, dataSR11)

하나    10
둘      9
셋     22
dtype: int64

One      10
둘         9
Three    22
dtype: int64

One      10
222       9
Three    22
dtype: int64

None

In [5]:
# ## --------------------------------------------------
# ## dtype 속성 변경
# ## --------------------------------------------------
# ## 현재 dtype 속성 확인     => 비공개 속성에서 getter 메서드 존재
# print("현재", dataSR.dtype)

# ## dtype 속성 설정 및 확인   => 비공개 속성에서 setter 메서드 존재
# dataSR.dtype = 'int16'      ## Series의 dtype은 setter를 가지고 있지 않음. 그래서 변경하면 에러가 발생함

# print("변경", dataSR.dtype)
# display(dataSR, 't:ttt')   ## 보기좋게 나눠줌 -> \n을 알아서 해주는 느낌

[ 읽기만 가능 / 변경 불가한 속성들 ] <hr>

In [12]:
## --------------------------------------------------
## dtype 속성 변경 X
## --------------------------------------------------
## 현재 dtype 속성 확인     => 비공개 속성에서 getter 메서드 존재
print("현재", dataSR.dtype)

## dtype 속성 설정 및 확인   => 비공개 속성에서 setter 메서드 존재
# dataSR.dtype = 'int16'      ## Series의 dtype은 setter를 가지고 있지 않음. 그래서 변경하면 에러가 발생함

print("변경", dataSR.dtype)
display(dataSR)   ## 보기좋게 나눠줌 -> \n을 알아서 해주는 느낌

현재 int64
변경 int64

하나    10
둘      9
셋     22
Name: 점수, dtype: int64

In [14]:
## --------------------------------------------------
## values 속성 변경 X
## --------------------------------------------------
## 현재 values 속성 확인     => 비공개 속성에서 getter 메서드 존재
print("현재", dataSR.values)

## values 속성 설정 및 확인   => 비공개 속성에서 setter 메서드 미존재
# dataSR.values = [0 ,9 ,11]  ## 불가임
display(dataSR)

현재 [10  9 22]

하나    10
둘      9
셋     22
Name: 점수, dtype: int64

[ DataFrame의 속성 읽기/변경 ] <hr>

In [16]:
## 데이터
data_dict = {'번호':[1,5,9],
             '이름':['홍','마','베']}

## 데이터프레임 생성 : key => 컬럼명, Value => 세로 즉, 컬럼 데이터
dataDF = pd.DataFrame(data_dict)

## 출력
display(dataDF, dataDF.columns, dataDF.index)

   번호 이름
0   1  홍
1   5  마
2   9  베

Index(['번호', '이름'], dtype='object')

RangeIndex(start=0, stop=3, step=1)

In [17]:
## --------------------------------------------------
## - index 변경
## --------------------------------------------------
print('현재', dataDF.index)

## 변경 [0, 1, 2] ==> ['사람1', '사람2', '사람3']
dataDF.index = ['사람1', '사람2', '사람3']

## 확인
print(dataDF)

현재 RangeIndex(start=0, stop=3, step=1)
     번호 이름
사람1   1  홍
사람2   5  마
사람3   9  베

In [ ]:
## --------------------------------------------------
## - columns 변경
## --------------------------------------------------
print('현재', dataDF.index)

## 변경 ['번호', '이름'] ==> ['ID', 'NAME']
dataDF.columns = ['ID', 'NAME']

## 확인
print(dataDF)