### [ Series/DataFrame 다루기 ]
- Series/DataFrame의 속성 읽기/변경 
- Series/DataFrame 행인덱스/열이름 전체/부분변경    : rename(index, columns, inplace)  ## 행이름 부분 변경
- Series/DataFrame 행/열 축 이름 설정   : rename_axis(index, columns, inplace)  ## 행/열 방향 이름 설정
- Series/DataFrame 행/열 삭제  : drop(labels, axis, index, columns, inplace)
- 기억 매개변수
    * axis : 행과 열 방향 설정 매개변수
        - 0 -> 행(가로) 방향
        - 1 -> 열(세로) 방향
    * inplace : 원본 데이터 유지 여부 설정
        - False -> 기본값, 원본 유지. 복사본으로 작업 후 반환
        - True  -> 원본으로 작업 진행. 반환값 None

In [1]:
## 모듈 로딩
import pandas as pd

In [2]:
## 데이터 준비 : json ==> DataFrame
dataDF = pd.read_json('../Data/test.json')

display(dataDF)

   id  value1  value2
0   1      20    3.40
1   2      12    2.10
2   3      11    9.70
3   4       9    0.12
4   5      31    9.99

[실습 문제] <hr>

In [3]:
## [1] 행 인덱스를 변경
## [0,1,2,3,4] ==> ['하나', '둘', '셋', '넷', '다섯']
dataDF.index=['하나', '둘', '셋', '넷', '다섯']

print(dataDF)

    id  value1  value2
하나   1      20    3.40
둘    2      12    2.10
셋    3      11    9.70
넷    4       9    0.12
다섯   5      31    9.99

In [4]:
## [2] 컬럼변경
## 'id', 'value1', 'value2' ==> 'id', 'v1', 'v2'
dataDF.columns=['id', 'v1', 'v2']
print(dataDF)

    id  v1    v2
하나   1  20  3.40
둘    2  12  2.10
셋    3  11  9.70
넷    4   9  0.12
다섯   5  31  9.99

In [5]:
# [3] '둘', '넷'에 해당하는 행을 삭제
#      단, 원본은 손상 X
dataDF1 = dataDF.drop(index=['둘','넷'])
print(dataDF1)

    id  v1    v2
하나   1  20  3.40
셋    3  11  9.70
다섯   5  31  9.99

In [6]:
## 데이터 준비 : json ==> DataFrame
dataDF = pd.read_json('../Data/test.json')

display(dataDF)

## [4] 아래와 같은 결과가 나오도록 코드 작성하세요.
#   id	value1	value2
# 0	1	20	3.40
# 1	2	12	2.10
# 2	3	11	9.70
# 3	4	9	0.12
# 4	5	31	9.99


#   ID	DATA
# A	1	3.40
# B	2	2.10
# C	3	9.70

dataDF.drop(index=[3,4], columns='value1', inplace=True)
a = {'id':'ID', 'value2':'DATA'}
b = {0:'A', 1:'B', 2:'C'}
dataDF.rename(columns=a, inplace=True)
dataDF.rename(index=b, inplace=True)
print(dataDF)

   id  value1  value2
0   1      20    3.40
1   2      12    2.10
2   3      11    9.70
3   4       9    0.12
4   5      31    9.99

   ID  DATA
A   1   3.4
B   2   2.1
C   3   9.7