#### 【 데이터 필터링 】
- Series/DataFrame에서 조건에 맞는 원하는 데이터 추출 
- 방법
    * Boolean Indexing Series
    * isin() / query() 
- 필터링 연산자
    * 비교연산자 : >,>=, <, <=, ==, != 
    * 논리연산자 : &(and), |(or), ~(not)

[1] 모듈 로딩 및 데이터 준비<hr>

In [21]:
## 모듈 로딩
import pandas as pd

In [22]:
## 데이터 준비
data = [[10, 13, 41],
        [21,  9, 7],
        [19, 78, 33],
        [35, 29, 27],
        [17, 10, 31]]
columns= ['A','B','C']

dataDF = pd.DataFrame(data, columns=columns)

display( dataDF )

    A   B   C
0  10  13  41
1  21   9   7
2  19  78  33
3  35  29  27
4  17  10  31

[2] 불린 인덱싱(Boolean Indexing)<hr>

In [23]:
## [조건] A컬럼에서 데이터가 20이상인 데이터들만 선택/추출
## - DF[컬럼명] : 컬럼선택
retSR = dataDF['A'] >= 20 
print(retSR)

## - 전체 DF에서 A컬럼 데이터가 20이상인 데이터만 선택
sr1=dataDF[ retSR ]
sr2=dataDF[ dataDF['A'] >= 20  ]

## - 결과 확인
display(sr1, sr2)

0    False
1     True
2    False
3     True
4    False
Name: A, dtype: bool

    A   B   C
1  21   9   7
3  35  29  27

    A   B   C
1  21   9   7
3  35  29  27

In [24]:
## 데이터 준비
data = { '이름': ['홍길동','마징가','홍이장군', '베트맨'],
         '나이': [ 27, 31, 12, 29],
         '성별': [ '남','남','여','남']
        }

## DF 인스턴스 생성
dataDF = pd.DataFrame(data)

## DF 확인
display( dataDF )

     이름  나이 성별
0   홍길동  27  남
1   마징가  31  남
2  홍이장군  12  여
3   베트맨  29  남

In [25]:
##[조건] 성별이 남자인 데이터만 선택/추출 
#dataDF['성별'] == '남'
boolIdx = dataDF.성별 == '남'
display(boolIdx)

## 전체 DF에서 조건에 맞는 데이터들만 선택/추출
dataDF1 = dataDF[ boolIdx ]

dataDF2 = dataDF[ dataDF.성별 == '남' ]

## 확인
display(dataDF1, dataDF2)

0     True
1     True
2    False
3     True
Name: 성별, dtype: bool

    이름  나이 성별
0  홍길동  27  남
1  마징가  31  남
3  베트맨  29  남

    이름  나이 성별
0  홍길동  27  남
1  마징가  31  남
3  베트맨  29  남

In [26]:
##[조건] 나이가 20세 이상인 데이터만 선택/추출 
mask=dataDF['나이']>=20
dataDF1 = dataDF[mask]

dataDF2 = dataDF[ dataDF.나이 >= 20 ]

display(dataDF1, dataDF2)

    이름  나이 성별
0  홍길동  27  남
1  마징가  31  남
3  베트맨  29  남

    이름  나이 성별
0  홍길동  27  남
1  마징가  31  남
3  베트맨  29  남

In [28]:
##[조건] 나이가 20세 이상이고 성별이 남자인 데이터 선택
mask    = (dataDF.나이 >=20) & (dataDF.성별 == '남')
dataDF1 = dataDF[ mask ]

dataDF2 = dataDF[(dataDF.나이 >=20) & (dataDF.성별 == '남')]

display(dataDF1, dataDF2)

0     True
1     True
2    False
3     True
dtype: bool