### 【 중복 데이터 체크 및 처리 】
- 중복 데이터 여부 검사 : DF.duplicated()  => True/False
- 중복 데이터 삭제 처리 : DF.drop_duplicates()

In [7]:
## 모듈로딩
import pandas as pd

## 중복 데이터 준비
df = pd.DataFrame( { 
        'brand' : [ 'Yum', 'Yum', 'Indo', 'Indo', 'Indo' ],
        'style' : [ 'cup', 'cup', 'cup', 'pack', 'pack' ],
        'rating': [4, 4, 3.5, 15, 5] 
})

display(df)

  brand style  rating
0   Yum   cup     4.0
1   Yum   cup     4.0
2  Indo   cup     3.5
3  Indo  pack    15.0
4  Indo  pack     5.0

In [8]:
## 중복 체크
result = df.duplicated().sum()

print(f'중복 데이터/행 : {result}개')

중복 데이터/행 : 1개

In [ ]:
## 중복 체크
## - keep 매개변수 : 'first' 첫 번째는 중복으로 판단하지 않음, 나머지 중복
result = df.duplicated()
result

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [ ]:
## 중복 체크 - 마지막은 중복으로 판단하지 않음, 그 외 중복
result = df.duplicated(keep='last')
result

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [11]:
## 중복 체크 - keep=False 모두 중복
result = df.duplicated(keep=False)
result

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [13]:
## 중복 체크 - subset매개변수 : 중복 검사 컬럼 설정
# - brand 컬럼만 중복인 행
result = df.duplicated(subset='brand')
result

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [14]:
# - brand 컬럼만 중복인 행
result = df.duplicated(subset=['brand', 'style']) ## keep='first'
result

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [15]:
## 중복 데이터 삭제 - 모든 속성값이 동일한 행 비교
df.drop_duplicates()

  brand style  rating
0   Yum   cup     4.0
2  Indo   cup     3.5
3  Indo  pack    15.0
4  Indo  pack     5.0

In [ ]:
## 중복 데이터 삭제 - 모든 속성값이 동일한 행 비교
df.drop_duplicates(keep='last') ## 마지막 행은 유지

  brand style  rating
1   Yum   cup     4.0
2  Indo   cup     3.5
3  Indo  pack    15.0
4  Indo  pack     5.0

In [18]:
## 중복 데이터 삭제 - 모든 속성값이 동일한 행 비교
df.drop_duplicates(keep=False)

  brand style  rating
2  Indo   cup     3.5
3  Indo  pack    15.0
4  Indo  pack     5.0

In [21]:
## 중복 데이터 삭제 - brand 컬럼만 동일한 행 비교
df.drop_duplicates(subset = 'brand')  ## keep은 default가 first라서 중복 제거하고 처음껏만 가져옴

  brand style  rating
0   Yum   cup     4.0
2  Indo   cup     3.5

In [24]:
## 중복 데이터 삭제 - brand 컬럼만 동일한 행 비교
df.drop_duplicates(subset = ['brand','style'], keep='last')

  brand style  rating
1   Yum   cup     4.0
2  Indo   cup     3.5
4  Indo  pack     5.0