### [ DataFrame 행/열/원소 선택 ]

[1] 모듈 로딩 및 데이터 준비<hr>

In [2]:
## 모듈 로딩
import pandas as pd

In [3]:
## 데이터 준비
dataDF = pd.DataFrame([[11,22,33,44],
                      [55,66,77,88],
                      [0,1,2,3],
                      [25,26,27,28],
                      [5,6,7,8]])

display(dataDF)

    0   1   2   3
0  11  22  33  44
1  55  66  77  88
2   0   1   2   3
3  25  26  27  28
4   5   6   7   8

[2] 행 선택 <hr>

In [4]:
## [1개 행 선택 => 선택 결과 타입 : Series]
# one_row = dataDF.iloc[0]
one_row = dataDF.loc[0]
# one_row = dataDF[0]   ## 얘는 행 선택할때는 안됨. 해당 행위는 0번 columns을 선택하는거임


print(type(one_row))
display(one_row)

<class 'pandas.core.series.Series'>

0    11
1    22
2    33
3    44
Name: 0, dtype: int64

In [5]:
## [여러개 행 선택 => 선택 결과 타입 : DataFrame (두개의 Series를 뽑아내니깐 DataFrame이 됨)]
# rows = dataDF.iloc[[0,3]]
# rows = dataDF.loc[[0,3]]
####
# rows = dataDF.iloc[0:3]      ## .iloc[시작:끝+1:간격]
rows = dataDF.loc[0:3]       ##  .loc[시작:끝  :간격]

print(type(rows))
display(rows)

<class 'pandas.core.frame.DataFrame'>

    0   1   2   3
0  11  22  33  44
1  55  66  77  88
2   0   1   2   3
3  25  26  27  28

[3] 열 선택 <hr>

In [6]:
## 열 인덱스 즉, 컬럼이름 설정
dataDF.columns = ['A', 'B', 'C', 'D']
display(dataDF)

    A   B   C   D
0  11  22  33  44
1  55  66  77  88
2   0   1   2   3
3  25  26  27  28
4   5   6   7   8

In [7]:
## [1개 컬럼 선택 => 선택 결과 : Series]
# one_col = dataDF.iloc[0]   ## 얘는 행을 뽑는거임
one_col = dataDF['A']       ## 컬럼명
one_col = dataDF.A          ## 단, 컬럼이름이 글자인 경우, 1개만 가능. [숫자나 여러개 컬럼은 안됨]

print(type(one_col))
display(one_col)

<class 'pandas.core.series.Series'>

0    11
1    55
2     0
3    25
4     5
Name: A, dtype: int64

In [8]:
## [여러개 컬럼 선택 => 선택 결과 : DataFrame]
# col = dataDF[['B', 'C', 'D']]       ## 컬럼명
# col = dataDF['B':'D']       ## 슬라이싱  ->  ERROR 발생

# col = dataDF.loc[0:4, 'B':'D']  ## loc 슬라이싱
col = dataDF.iloc[:, 1:4]       ## iloc 슬라이싱 -> 위치인덱스를 넣어야함

print(type(col))
display(col)

<class 'pandas.core.frame.DataFrame'>

    B   C   D
0  22  33  44
1  66  77  88
2   1   2   3
3  26  27  28
4   6   7   8

[4] 원소 선택 <hr>
- 형식
    * DF.iloc[ 행위치인덱스, 열위치인덱스 ]
    * DF.loc [ 행라벨인덱스, 열라벨인덱스 ]

In [10]:
## 현재 DF 확인
dataDF.index=['r0','r1','r2','r3','r4']
display(dataDF)

     A   B   C   D
r0  11  22  33  44
r1  55  66  77  88
r2   0   1   2   3
r3  25  26  27  28
r4   5   6   7   8

In [ ]:
## --------------------------------------------------
## 1개 원소 선택 => DF.iloc[행, 열] / DF.loc[행, 열]
## --------------------------------------------------
## 데이터 66 선택  => (r1, b) / (1, 1)
one_e1 = dataDF.iloc[1,1]
one_e2 = dataDF.loc['r1', 'B']  ## 행이랑 열의 Label을 가지고 있기 때문에, 인덱스로는 안됨

display(one_e1, one_e2)

np.int64(66)

np.int64(66)

In [15]:
## --------------------------------------------------
## 여러개 원소 선택 => DF.iloc[[행1, 행2], [열1, 열2]] 
##                    DF.loc[[행1, 행2], [열1, 열2]] 
## --------------------------------------------------
## => r1,r3행과 B,C 컬럼이 교차하는 값들을 뽑은거임
one_e1 = dataDF.iloc[[1,3], [1,2]]
one_e2 = dataDF.loc[['r1', 'r3'], ['B', 'C']]  

display(one_e1, one_e2)

     B   C
r1  66  77
r3  26  27

     B   C
r1  66  77
r3  26  27

In [16]:
## => r1행과 B,C 컬럼이 교차하는 값들을 뽑은거임
one_e1 = dataDF.iloc[1, [1,2]]
one_e2 = dataDF.loc['r1', ['B', 'C']]  

display(one_e1, one_e2)

B    66
C    77
Name: r1, dtype: int64

B    66
C    77
Name: r1, dtype: int64

In [18]:
## => r1행과 B,C 컬럼이 교차하는 값들을 뽑은거임
one_e1 = dataDF.iloc[1, 1:3]
one_e2 = dataDF.loc['r1', 'B':'C']  

display(one_e1, one_e2)

B    66
C    77
Name: r1, dtype: int64

B    66
C    77
Name: r1, dtype: int64