### [ 행/열 인덱스 재배치/재배열 ] 
- 메서드 : DataFrame.reindex()
- 기존 행/열 인덱스를 변경
    * 기존에 없던 행/열 인덱스 추가
    * 기존에 행/열 인덱스 제거

[1] 모듈 로딩 및 데이터 준비 <hr>

In [2]:
## 모듈 로딩
import pandas as pd

In [3]:
## 데이터 준비 및 데이터프레임 생성
index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']

dataDF =  pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
                  'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
                  index=index)

## 출력
display(dataDF)

           http_status  response_time
Firefox            200           0.04
Chrome             200           0.02
Safari             404           0.07
IE10               404           0.08
Konqueror          301           1.00

[2] 행인덱스 재배열/재배치 <hr>

In [ ]:
## 기존 행 인덱스 ==> ['FireFox', 'Edge', 'Safari', 'Opera'] 재배치
##                  추가된 행 인덱스에는 컬럼별 해당 데이터 X => NaN : Not a Number
dataDF2 = dataDF.reindex(['Firefox', 'Edge', 'Safari', 'Opera'], 
                         axis = 'index',
                         fill_value=0)  ## 특정값으로 채우는 행위임
display(dataDF2)

         http_status  response_time
Firefox          200           0.04
Edge               0           0.00
Safari           404           0.07
Opera              0           0.00

In [10]:
## 열 인덱스 / 열 이름 재배치
## 기존 행 인덱스 ==> ['response_time','http_status','visit_cnt'] 재배치

dataDF2 = dataDF.reindex(['response_time','http_status','visit_cnt'], 
                         axis = 'columns',
                         fill_value=0)  

dataDF2 = dataDF.reindex(columns = ['response_time','http_status','visit_cnt'], 
                         fill_value=0)  ## 특정값으로 채우는 행위임
display(dataDF2)

           response_time  http_status  visit_cnt
Firefox             0.04          200          0
Chrome              0.02          200          0
Safari              0.07          404          0
IE10                0.08          404          0
Konqueror           1.00          301          0