### [ DataFrame/Series 정렬 ]
- 종류
    * 행/열 인덱스 기준 정렬 => sort_index()
    * 데이터/값 기준 정렬 => sort_values()

[1] 모듈 로딩 및 데이터 준비 <hr>

In [20]:
## 모듈 로딩
import pandas as pd
import numpy as np

In [21]:
## 결측치(Missing Value)표기법
## pd.NA : Not available
## pd.NaT: Not a Time
## np.nan: Not a Number
print(pd.NA,pd.NaT,np.nan)

<NA> NaT nan

In [22]:
# 데이터 프레임 생성
dataDF = pd.DataFrame( [[1, 22, 39, 4, 85],
                        [11,22, 53, 7,55]],
                        index = [100, 29],
                        columns = ['A','D','E','B','C'])

display(dataDF)

      A   D   E  B   C
100   1  22  39  4  85
29   11  22  53  7  55

In [23]:
## -----------------------------------------------
## 행 인덱스 기준으로 정렬 : [기] 행방향 오름차순 정렬
## -----------------------------------------------

dataDF.sort_index()  ## 오름차순 : 작은값 >> 큰값

      A   D   E  B   C
29   11  22  53  7  55
100   1  22  39  4  85

In [24]:
## -----------------------------------------------
## 행 인덱스 기준으로 정렬 : [기] 행방향 내림차순 정렬
## -----------------------------------------------

dataDF.sort_index(ascending=False)  ## 내림차순 : 작은값 >> 큰값

      A   D   E  B   C
100   1  22  39  4  85
29   11  22  53  7  55

In [25]:
## -----------------------------------------------
## 열 인덱스/열 이름 기준으로 정렬 : [변] 열방향 내림차순 정렬
## -----------------------------------------------
display(dataDF)
dataDF.sort_index(axis='columns',   ## axis = 1
                  ascending=False)  ## 내림차순 : 작은값 >> 큰값

      A   D   E  B   C
100   1  22  39  4  85
29   11  22  53  7  55

      E   D   C  B   A
100  39  22  85  4   1
29   53  22  55  7  11

[2] 행 인덱스 정렬 <hr>

[3] 데이터/값으로 정렬 <hr>

In [26]:
## ----------------------------------------------------------
## 컬럼 1개 설정 => 'E' 컬럼의 값을 기준으로
## ----------------------------------------------------------
display(dataDF)
print(dataDF.columns)

## E컬럼의 값을 기준으로 오름차순 정렬
dataDF.sort_values(by=['E'], axis='index')

      A   D   E  B   C
100   1  22  39  4  85
29   11  22  53  7  55

Index(['A', 'D', 'E', 'B', 'C'], dtype='object')

      A   D   E  B   C
100   1  22  39  4  85
29   11  22  53  7  55

In [27]:
## E컬럼의 값을 기준으로 오름차순 정렬
dataDF.sort_values(by=['C', 'B'], axis='index', ascending=False)

      A   D   E  B   C
100   1  22  39  4  85
29   11  22  53  7  55

In [30]:
# 데이터 프레임 생성
dataDF = pd.DataFrame( [[1, 22, 39, 4, 85],
                        [1, 22, 20, 7, 85],
                        [1, 22, 39, 7, 85]],
                        index = [100, 3, 29],
                        columns = ['A','D','E','B','C'])

display(dataDF)

     A   D   E  B   C
100  1  22  39  4  85
3    1  22  20  7  85
29   1  22  39  7  85

In [31]:
## 100번째 값을 기준으로 오름차순 정렬
dataDF.sort_values(by=[100], axis='columns')

     A  B   D   E   C
100  1  4  22  39  85
3    1  7  22  20  85
29   1  7  22  39  85