#### 【 데이터 합치기 - coacat 】
- 인덱스나 축(axis)을 따라 단순히 붙이기/병합
- Series/DataFrame 모두 사용 
- Series => Series / DataFrame => DataFrame 결과

[1] 모듈 로딩 <hr>

In [2]:
## 모듈 로딩
import pandas as pd

[2] 데이터 합치기<hr>

In [3]:
## =================================================================
## 함   수   pandas.concat([df1, df2, df3..], axis=0, join='outer')
## =================================================================
## 매개변수
##     * axis = 0                : 방향 설정. 
##                                 0/'index'  - 행방향
##                                 1/'column' - 열방향
##     * join = 'outer'          : 열이름/행인덱스 합치기 방법 설정. 
##                                 'outer' - 합집합
##                                 'inner' - 교집합
##     * keys = []               : 열이름/행인덱스 재정의.
##     * ignore_index = False    : 기존 열이름/행인덱스 유지 여부 설정.
## =================================================================

>>> [2-1] Series 합치기

In [4]:
## Series 인스턴스 생성
sr1 = pd.Series(['a', 'b'])
sr2 = pd.Series(['c', 'd'])

In [5]:
## ------------------------------------------
## 합집합
## ------------------------------------------
dataSR = pd.concat([sr1, sr2])

In [6]:
## ------------------------------------------
## 합집합, 기존 인덱스 유지 X
## ------------------------------------------
dataSR = pd.concat([sr1, sr2], ignore_index=True)
dataSR

0    a
1    b
2    c
3    d
dtype: object

In [7]:
## ------------------------------------------
## 합집합, 식별 키 설정
## ------------------------------------------
dataSR = pd.concat([sr1, sr2], keys=['A','B'])
dataSR

A  0    a
   1    b
B  0    c
   1    d
dtype: object

In [8]:
## ------------------------------------------
## 합집합
## ------------------------------------------
dataSR = pd.concat([sr1, sr2], join='inner')
dataSR

0    a
1    b
0    c
1    d
dtype: object

>>> [2-2] DataFrame 합치기

In [9]:
## DataFrame 인스턴스 생성
df1 = pd.DataFrame({'a':['a0','a1','a2','a3'],
                    'b':['b0','b1','b2','b3'],
                    'c':['c0','c1','c2','c3']})

df2 = pd.DataFrame({'a':['a2','a3','a4','a5'],
                    'b':['b2','b3','b4','b5'],
                    'c':['c2','c3','c4','c5'],
                    'd':['d2','d3','d4','d5']},
                    index=[2,3,4,5])

In [10]:
## ------------------------------------------
## 행 방향 / 합집합
## - 존재하지 않는 열/컬럼의 값은 NaN
## ------------------------------------------
dataDF = pd.concat([df1, df2], 
                   axis=0, 
                   join='outer', 
                   ignore_index=False)
display( dataDF )

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
2  a2  b2  c2   d2
3  a3  b3  c3   d3
4  a4  b4  c4   d4
5  a5  b5  c5   d5

In [11]:
## ------------------------------------------
## 행 방향 / 교집합
## - 존재하지 않는 열/컬럼 삭제
## ------------------------------------------
dataDF = pd.concat([df1, df2], join='inner')
display( dataDF )

## ------------------------------------------
## 행 방향 / 교집합
## - 존재하지 않는 열/컬럼 삭제
## ------------------------------------------
dataDF = pd.concat([df1, df2], join='inner', ignore_index=True)
display( dataDF )

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3
2  a2  b2  c2
3  a3  b3  c3
4  a4  b4  c4
5  a5  b5  c5

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3
4  a2  b2  c2
5  a3  b3  c3
6  a4  b4  c4
7  a5  b5  c5

In [ ]:
## ------------------------------------------
## 열 방향 / 합집합
## ------------------------------------------
dataDF = pd.concat([df1, df2], axis='columns', join='inner')        ## 교집합, DF1과 DF2를 가로로 연결
display( dataDF )

     a    b    c    a    b    c    d
0   a0   b0   c0  NaN  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN  NaN
2   a2   b2   c2   a2   b2   c2   d2
3   a3   b3   c3   a3   b3   c3   d3
4  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN   a5   b5   c5   d5